
/* Your CSS Code here. */
/* Apply styles to the holder */
.holder {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100vw; /* Take full viewport width */
    height: 100vh; /* Take full viewport height */
}

/* Apply styles to item-1 */
.item-1 {
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
    width: 100px;
    height: 100px;
    background-color: red;
}
